.all{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@font-face {
    font-family: "Hanna";
    src: url("./BM-font-package/fonts/ttf/BMHANNAPro.ttf");
}
@font-face {
    font-family: "Hanna2";
    src: url("./BM-font-package/fonts/ttf/BMJUA_ttf.ttf");
}

#logo{
    position: relative;
    font-family: "Hanna";
    font-size: 45px;
    right: 180px;
    top: 10px;
}

.title{
    display: flex;
}
.title h3{
    font-family: "Hanna";
    position: relative;
    left: 170px;
    top: 35px;

}
.cate{
    position: relative;
    right: 435px;
    top: 50px;
}
.work{
    display: flex;
    font-family: "Hanna2";
    font-size: 19px;
}
.work h2{
    margin: 20px;
    position: relative;
    right: 60px;
    bottom: 5px;
}
.work a{
    text-decoration: none;
    color: rgb(43, 43, 43);
}
.line{
    position: relative;
    bottom: 25px;
}

/* 여기까지가 메인 로고 */

.mainFrame h1{
    position: relative;
    font-family: "Hanna2";
    font-size: 34px;
    left: 40px;

}
.mainFrame h2{
    margin: 40px;
}